<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<link th:replace="layout/plantilla :: bootstrap" rel="stylesheet"/>
</head>

<body>

	<nav th:replace="layout/plantilla :: header" />
	<div class="container">


		<div class="row mt-3">
			<div class="col-md-12">
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a>
			</div>
		</div>

		<br>
		
		<table class="table text-center">
			<thead>
			<tr>
				<th>[[#{persona.nombre}]]:</th>
				<th>[[#{persona.apellido}]]:</th>
				<th>[[#{persona.email}]]:</th>
				<th>[[#{persona.telefono}]]:</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">Funciones</th>
			</tr>
			</thead>
			<thbody>
				<tr th:if="${!personas.empty}" th:each="p: ${personas}">
					<td th:text="${p.nombre}"></td>
					<td th:text="${p.apellido}"></td>
					<td th:text="${p.email}"></td>
					<td th:text="${p.telefono}"></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/editar/} + ${p.idPersona} " class="btn btn-info">[[#{accion.editar}]]</a>
						<a th:href="@{/elimnar(idPersona=${p.idPersona})}" class="btn btn-danger">[[#{accion.eliminar}]]</a>
					</td>
				</tr>
			
			</thbody>
		</table>

		<div class="row p-2">
			<div class="col-md-12 text-center" th:if="${personas == null or personas.empty}">
				<p>[[#{persona.lista-vacia}]]</p>
			</div>

		</div>


	</div>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>