<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Controller</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row m-3">
			<div class="col-md-12">
				<h1>Deploy de Controller</h1>
			</div>
			
		
			<div class="col-md-4 p-2" th:if="${!personas.empty}" th:each="p: ${personas}">
				<div class="card bg-secondary">
					<div class="card-body">
						<h2 class="card-title" th:text="${p.nombre}"></h2>
						<p class="card-text" th:text="${p.apellido}"></p>
						<p class="card-text" th:text="${p.email}"></p>
						<p class="card-text" th:text="${p.telefono}"></p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>