<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Errores</title>
	<meta charset="UTF-8"/>
	<head th:replace="layout/plantilla :: head">
	
</head>
<body>

<nav th:replace="layout/plantilla :: header" />

<main role="main" class="container">


  <div class="mt-5">
    <h1 class="text-center">403</h1>
    <p class="lead" style="font-size:25px;">Error al solicitar tu petición....</p>
  </div>
  
  <a class="btn btn-primary" th:href="@{/}">[[#{accion.regresar}]]</a>

</main><!-- /.container -->

</body>
</html>