<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<link th:replace="layout/plantilla :: bootstrap" rel="stylesheet"/>
</head>

<body>

	<nav th:replace="layout/plantilla :: header" />
	<div class="container">


		<div class="row mt-3">
			<div class="col-md-12">
				<a th:href="@{/agregar}">[[#{persona.crear}]]</a>
			</div>
		</div>

		<br>

		<div class="row p-2">

			<div class="col-md-4 mt-1" th:if="${!personas.empty}" th:each="p: ${personas}">
				<div class="card">
					<div class="card-body">
						
						<span><p class="text-primary">[[#{persona.nombre}]]:</p></span><h2 class="card-title" th:text="${p.nombre}"></h2>
						
                    	<span><p class="text-primary">[[#{persona.apellido}]]:</p></span><p class="card-text" th:text="${p.apellido}"></p>
						
						<span><p class="text-primary">[[#{persona.email}]]:</p></span><p class="card-text" th:text="${p.email}"></p>
						
						<span><p class="text-primary">[[#{persona.telefono}]]:</p></span><p class="card-text" th:text="${p.telefono}"></p>
						<a th:href="@{/editar/} + ${p.idPersona} " class="btn btn-info">[[#{accion.editar}]]</a>
						<!-- <a th:href="@{/elimnar} + ${p.idPersona}" class="btn btn-danger">Eliminar</a>-->
						<a th:href="@{/elimnar(idPersona=${p.idPersona})}" class="btn btn-danger">[[#{accion.eliminar}]]</a>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center" th:if="${personas == null or personas.empty}">
				<p>[[#{persona.lista-vacia}]]</p>
			</div>

		</div>


	</div>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>