<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>[[#{persona.formulario}]]</title>
	<link th:replace="layout/plantilla :: bootstrap" rel="stylesheet"/>
</head>

<body>
	<nav th:replace="layout/plantilla :: header" />
	<div class="container">

		<div class="row mt-3">
			<div class="col-md-12">
				<h2>[[#{persona.crear}]]</h2>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<a th:href="@{/}">[[#{accion.regresar}]]</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form th:action="@{/guardar}" method="post" th:object="${persona}">
					<div class="form-row">
						<input type="hidden" name="idPersona" th:field="*{idPersona}">
						<div class="form-group col-md-6">
							<label for="nombre">[[#{persona.nombre}]]</label>
							<input type="text" th:field="*{nombre}" class="form-control" id="nombre">
							<span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en el nombre</span>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="apellido">[[#{persona.apellido}]]</label>
							      <input type="text" th:field="*{apellido}" class="form-control" id="apellido">
							      <span class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en el apellido</span>
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="email">[[#{persona.email}]]</label>
							    <input type="texto" th:field="*{email}" class="form-control" id="email" placeholder="example@email.com">
							  	<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en el email</span>
							  </div>
							  <div class="form-group">
							    <label for="telefono">[[#{persona.telefono}]]</label>
							    <input type="tel" th:field="*{telefono}" class="form-control" id="telefono" placeholder="44552685">
							  </div>
							  
							  
							  <input type="submit" name="guardar" th:value="#{accion.guardar}" class="btn btn-primary btn-block">
							</form>
						</div>
					</div>
		</div>
		<footer th:replace="layout/plantilla :: footer"></footer>



</body>
</html>