<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inicio</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Deploy de Controller</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<a th:href="@{/agregar}">Crear Persona</a>
				</div>
			</div>
			
			<br>
			
			<div class="row p-2">
				
				<div class="col-md-4 mt-1" th:if="${!personas.empty}" th:each="p: ${personas}">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title" th:text="${p.nombre}"></h2> 
							<p class="card-text" th:text="${p.apellido}"></p>
							<p class="card-text" th:text="${p.email}"></p>
							<p class="card-text" th:text="${p.telefono}"></p>
							<a th:href="@{/editar/} + ${p.idPersona} " class="btn btn-info">Editar</a>
							<!-- <a th:href="@{/elimnar} + ${p.idPersona}" class="btn btn-danger">Eliminar</a>-->
						    <a th:href="@{/elimnar(idPersona=${p.idPersona})}" class="btn btn-danger">Eliminar</a>
						</div>
					</div>
				</div>
				
			</div>
			
		
	</div>
</body>
</html>