<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">

<head th:replace="layout/plantilla :: head">
	<title>Agregar</title>
	<meta charset="UTF-8">

</head>

<body>
	<section th:fragment="agregarCliente">
		<div id="agregarCliente" class="modal fade" >
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="#{accion.agregar}">Agregar Clientes</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form th:action="@{/guardar}" method="POST" th:object="${persona}" class="was-validated">
						<div class="modal-body">
						
							<div class="form-row">
								<!-- <input type="hidden" name="idPersona"> -->
								<div class="form-group col-md-12">
									<label for="nombre" th:text="#{persona.nombre}"></label>
									<input type="text" class="form-control" name="nombre" id="nombre" required="true">
								</div>
								<div class="form-group col-md-12">
									<label for="apellido" th:text="#{persona.apellido}"></label>
									<input type="text" class="form-control" name="apellido" id="apellido" required="true">
									
								</div>
								<div class="form-group col-md-12">
									<label for="email" th:text="#{persona.email}"></label>
									<input type="email" class="form-control" name="email" id="email" required="true" placeholder="example@email.com">
									
								</div>
								<div class="form-group col-md-12">
									<label for="telefono" th:text="#{persona.telefono}"></label>
									<input type="tel" class="form-control" name="telefono" id="telefono" required="true">
								</div>
								<div class="form-group col-md-12">
									<label for="saldo" th:text="#{persona.saldo}"></label>
									<input type="number" class="form-control" name="saldo" id="saldo" step="any" required="true">
								</div>
							</div>
							
						</div>
						<div class="modal-footer">
							<button type="submit" th:text="#{accion.guardar}" class="btn btn-outline-dark btn-block">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>