<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
<meta charset="UTF-8">
<title>Editar Clientes</title>
</head>
<body>

	<section th:fragment="editarCliente">
		<div class="container">

		<div class="row mt-3">
			<div class="col-md-12">
				<h2>[[#{persona.formulario}]]</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form th:action="@{/guardar}" method="post" th:object="${persona}" class="was-validated">
					<div class="form-row">
						<input type="hidden" name="idPersona" th:field="*{idPersona}">
						<div class="form-group col-md-6">
							<label for="nombre">[[#{persona.nombre}]]</label>
							<input type="text" th:field="*{nombre}" class="form-control" id="nombre">
							<span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en el nombre</span>
						</div>
						<div class="form-group col-md-6">
							<label for="apellido">[[#{persona.apellido}]]</label>
							<input type="text" th:field="*{apellido}" class="form-control" id="apellido">
							<span class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en el apellido</span>
						</div>
					</div>
					<div class="form-group">
						<label for="email">[[#{persona.email}]]</label>
						<input type="email" th:field="*{email}" class="form-control" id="email" placeholder="example@email.com">
						<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en el email</span>
					</div>
					<div class="form-group">
						<label for="telefono">[[#{persona.telefono}]]</label>
						<input type="tel" th:field="*{telefono}" class="form-control" id="telefono">
					</div>		
					<div class="form-group">
						<label for="saldo">[[#{persona.saldo}]]</label>
						<input type="number" th:field="*{saldo}" class="form-control" id="saldo">
					</div>
					<div class="row mt-3">
						<div class="col-md-6">
							<a class="btn btn-outline-dark" th:href="@{/}">
							<i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]</a>
						</div>
						<div class="col-md-3">
							<a th:href="@{/elimnar(idPersona=${persona.idPersona})}" class="btn btn-dark btn-block float-right">[[#{accion.eliminar}]]</a>						</div>
						<div class="col-md-3">
							<input type="submit" name="guardar" th:value="#{accion.guardar}" class="btn btn-dark btn-block float-right">
						</div>
					</div>
					
				</form>
			</div>
		</div>
		</div>
	</section>
	
	

</body>
</html>