<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">

<head>
	<title>Listado Clientes</title>
	<meta charset="UTF-8">
	
</head>
<body>
	<section th:fragment="listadoClientes" id="clientes">
		<div class="container">

			<div class="row">
				<div class="col-md-9">
					<div class="card" th:if="${!personas.empty}">
						<div class="card-header">[[#{persona.titulo-lista}]]</div>
						<div class="table-responsive">
							<table class="table text-center">
								<thead>
								<tr>
									<th>No.</th>
									<th>[[#{persona.nombre}]]:</th>
									<th>[[#{persona.apellido}]]:</th>
									<th>[[#{persona.email}]]:</th>
									<th>[[#{persona.telefono}]]:</th>
									<th>[[#{persona.saldo}]]:</th>
									<th sec:authorize="hasRole('ROLE_ADMIN')">Funciones</th>
								</tr>
								</thead>
								<thbody>
									<tr th:if="${!personas.empty}" th:each="p, counter: ${personas}">
										<td>[[${counter.count}]]</td>
										<td th:text="${p.nombre}"></td>
										<td th:text="${p.apellido}"></td>
										<td th:text="${p.email}"></td>
										<td th:text="${p.telefono}"></td>
										<td th:text="${new java.text.DecimalFormat('$#,##0.00').format(p.saldo)}"></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')">
											<a th:href="@{/editar/} + ${p.idPersona} " class="btn btn-dark"><i class="fas fa-edit"></i> [[#{accion.editar}]]</a>
											<a th:href="@{/elimnar(idPersona=${p.idPersona})}" class="btn btn-light"><i class="fas fa-trash-alt"></i> [[#{accion.eliminar}]]</a>
										</td>
									</tr>
								
								</thbody>
							</table>
						</div>
					</div>
					<!-- Si no hay registros -->
					<div class="row p-2">
						<div class="col-md-12 text-center" th:if="${personas == null or personas.empty}">
							<p>[[#{persona.lista-vacia}]]</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card text-center bg-dark text-white mb-3">
						<div class="body">
							<h3 th:text="#{persona.saldoTotal}"></h3>
							<h4 class="display-4">
								[[${new java.text.DecimalFormat('$#,##0.00').format(saldoTotal)}]]
							</h4>
						</div>
					</div>

					<div class="card text-center bg-light mb-3">
						<div class="body">
							<h3 th:text="#{persona.totalClientes}"></h3>
							<h4 class="display-4">
								<i class="fas fa-users"></i> [[${totalClientes}]]
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>