<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">

<head th:fragment="head">
	<title>Plantilla</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="container">
				<a th:href="@{/}" class="navbar-brand" th:text="#{plantilla.titulo}"></a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav">
						<li class="nav-item px-2">
							<a th:href="@{/}" class="nav-link activate" th:text="#{barra.titulo}"></a>
						</li>
					</ul>
					<ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
						<li class="nav-item">
							<a herf="#" class="nav-link">
							<i class="fas fa-user"></i>
							<span th:text="#{barra.bienvenido}"></span>
							<span sec:authentication="name">Usuario</span>
							</a>
						</li>
						<li class="nav-item">
							<form method="POST" th:action="@{/logout}">
								<a href="#" class="nav-link" onclick="this.parentNode.submit();">
									<i class="fas fa-user-times"></i>[[#{barra.salir}]]
								</a>
						</form>
						</li>
					</ul>
				</div>
			</div>

		</nav>
	</header>
	
	<section id="actions" class="bg-gray" th:fragment="acciones">
		<div class="container">
			<div class="row">
			
			</div>
		</div>
	</section>
	
	


	<footer class="bg-light text-white mt-5 p-5" th:fragment="footer">
		<div class="container">
			<div class="row text-muted">
				<div class="col-md-4">
					<a class="lead" th:href="@{/(lang=es)}">ES</a> |
					<a class="lead" th:href="@{/(lang=en)}">EN</a> |
				</div>
				<div class="col-md-8">
					<b>Usuario: </b><span sec:authentication="name">Usuario Logueado</span>
					<b>Roles: </b> <span sec:authentication="principal.authorities">Roles</span>
				</div>
			</div>


			<p class="text-muted"> [[#{plantilla.pie-pagina}]] www.lamt.com @Copyright <a th:href="www.lamt.com">Lamt SA
					de CV</a></p>
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>

</body>

</html>