<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Errores</title>
	<meta charset="UTF-8"/>
	<link th:fragment="bootstrap" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav th:replace="layout/plantilla :: header" />

<main role="main" class="container">


  <div class="mt-5">
    <h1 class="text-center">403</h1>
    <p class="lead" style="font-size:25px;">Error al solicitar tu petición....</p>
  </div>
  
  <a class="btn btn-primary" th:href="@{/}">[[#{accion.regresar}]]</a>

</main><!-- /.container -->

</body>
</html>