<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Datos de la Persona</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<nav th:replace="layout/plantilla :: header" />
	<div class="container">

		<div class="row mt-3">
			<div class="col-md-12">
				<h2>Crear Clientes</h2>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<a th:href="@{/}">Regresar</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form th:action="@{/guardar}" method="post" th:object="${persona}">
					<div class="form-row">
						<input type="hidden" name="idPersona" th:field="*{idPersona}">
						<div class="form-group col-md-6">
							<label for="nombre">Nombre</label>
							<input type="text" th:field="*{nombre}" class="form-control" id="nombre">
							<span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en el nombre</span>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="apellido">Apellido</label>
							      <input type="text" th:field="*{apellido}" class="form-control" id="apellido">
							      <span class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en el apellido</span>
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="email">Email</label>
							    <input type="texto" th:field="*{email}" class="form-control" id="email" placeholder="example@email.com">
							  	<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en el email</span>
							  </div>
							  <div class="form-group">
							    <label for="telefono">Teléfono</label>
							    <input type="tel" th:field="*{telefono}" class="form-control" id="telefono" placeholder="44552685">
							  </div>
							  
							  
							  <input type="submit" name="guardar" value="Guardar" class="btn btn-primary">
							</form>
						</div>
					</div>
		</div>
		<footer th:replace="layout/plantilla :: footer"></footer>



</body>
</html>