<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Plantilla</title>
	<meta charset="UTF-8"/>
	<link th:fragment="bootstrap" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-dark bg-dark" th:fragment="header">
		<a class="navbar-brand" th:text="#{plantilla.titulo}"></a>
	</nav>

	<footer class="footer" th:fragment="footer">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-md-4">
	  			<a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
	  			
	  		</div>
	  	</div>
	  	
		<p class="text-muted"> [[#{plantilla.pie-pagina}]] www.lamt.com @Copyright <a th:href="www.lamt.com">Lamt SA de CV</a></p>
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
	</footer>

</body>

</html>